body {
    height: 100%;
    padding: 0;
}

p, ul {
    margin: 0;
}

.navbar {
    padding: 10px 20px;
}

h2 {
    font-weight: bold;
}

h4 {
    margin-bottom: 0;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 30px 15px 30px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.navbar-top h4 {
    margin-left: 30px;
}

.logout-button {
    background-color: #D54444;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    padding: 10px 2.5%;
}

.logout-button i {
    margin-right: 10px;
}

.navbar-brand img {
    background-position: center;
    width: 150px;
}

.offcanvas-nav-link, .nav-link {
    color: #384C67;
    font-weight: 600;
}

.offcanvas-nav-link {
    font-weight: bold;
    padding: 5%;
}

.offcanvas-nav-link i {
    padding-right: 20px;
}


.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #384C67;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    width: 35%;
    margin: 5% 2.5% 0% 2.5%;
    padding: 2.5%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.box h5 {
    color: #384C67;
}

.box p {
    font-size: 14px;
    margin: 5% 0%;
}

.main-button {
    border-radius: 10px;
    border: 0px;
    background-color: #F6911B;
    color: black;
    padding: 10% 25%;
    font-size: 14px;
    font-weight: bold;
    text-wrap: nowrap;
    transition: 0.5s all;
}

.login-button {
    border-radius: 10px;
    border: 0px;
    background-color: #F6911B;
    color: black;
    padding: 5% 15%;
    font-size: 14px;
    font-weight: bold;
    text-wrap: nowrap;
    transition: 0.5s all;
}

.submit-button {
    align-self: center;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #F6911B;
    color: black;
    padding: 2.5% 5%;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s all;
}

.main-button:hover, .submit-button:hover {
    background-color: #384C67;
    color: white;
}

.hotline {
    padding: 2.5%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: #D54444;
}

label {
    font-weight: 600;
    margin-top: 10px;
}

.hint {
    color: red;
    font-size: 12px;
}

input {
    border-radius: 10px;
    border: 1px solid;
    padding: 15px;
    margin: 10px 0px;
}

select {
    margin: 10px 0px;
}

.notice {
    font-size: 14px;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 10px;
    background-color: #D1E7DD;
    color: #0a3622;
}

.notice ul li {
    font-weight: 600;
    margin: 5px 0px;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.checkboxes label {
    padding-left: 20px;
}

.formulir, .cek-laporan {
    padding: 0% 15%;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5%;
    /* border: 1px solid black; */
}

.admin-access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

.login-section {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2%;
    padding: 5%;
}

.result-form {
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #d1ecf1;
    padding: 2.5% 5%; 
    border: 1px solid black;
}

.result-label {
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    color: #384C67;
}

.top-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.nomor-pengajuan {
    background-color: #F6911B;
    color: black;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
}

.drawer-menu {
    display: none;
}

.offcanvas-mobile {
    display: none;
}

.dashboard-section {
    margin-top: 20px;
}


.total-reports {
    /* flex-grow: 5; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 14px;
    padding: 2.5%;
    font-weight: bold;
    color: #384C67;
}

.report-cards {
    border-radius: 10px;
    background-color: #d1ecf1;
    margin: 0px 5%;
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border: 1px solid black;
    box-shadow: 0px 2px black;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comments textarea {
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
}

.top-cards {
    display: flex; 
    flex-direction: row; 
    justify-content:space-between; 
}

.top-cards i {
    font-size: 3em;
}

.accordion-item {
    margin: 10px 0px;
}

.accordion-button:not(.collapsed) {
    background-color: #d1ecf1;
    color: #384C67;
}

.reports {
    margin-top: 5%;
}

.sidenote {
    display: flex;
    flex-direction: column;
}

.custom-select {
    width: 25%;

}

@media screen and (max-width: 768px) {
    .offcanvas-mobile {
        display:initial;
    }

    .drawer-menu {
        display: block;
    }
}